.background    { background: rgb(0, 0, 0);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 51, 0); }
.wall          { background: rgb(255, 255, 102);}

.actor  { position: absolute;  }
.player { background: rgb(42, 87, 154); }
.coin 	{ background: rgb(204, 153, 0); }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
